# Ignore notebook files
notebook/llm_full.txt

# Ignore Python bytecode files
*.pyc

# Ignore virtual environment files
env/

# Ignore IDE files
.vscode/

# Ignore operating system files
.DS_Store
Thumbs.db
 

#ignore .history and .env 
.history
.env
local.md
notebook/llms_full.txt
notebook/sklearn_vectorstore.parquet
notebook/sklearn_vectorstore.parquet
